<h1 class="text-4xl text-center m-4">Sign up</h1>
<div class="m-auto md:w-3/4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="flex flex-row flex-wrap md:flex-nowrap justify-stretch">
      <div class="field mb-4 p-2 w-full">
        <%= f.label :first_name, class: "font-bold inline-block mb-2" %>
        <%= f.text_field :first_name, autofocus: true, class: "w-full", placeholder: "First name" %>
      </div>

      <div class="field mb-4 p-2 w-full">
        <%= f.label :last_name, class: "font-bold inline-block mb-2" %>
        <%= f.text_field :last_name, class: "w-full", placeholder: "Last name" %>
      </div>
    </div>

    <div class="flex flex-row flex-wrap md:flex-nowrap justify-stretch">
      <div class="field mb-4 p-2 w-full">
        <%= f.label :username, class: "font-bold inline-block mb-2" %>
        <%= f.text_field :username, class: "w-full", placeholder: "Username" %>
      </div>

      <div class="field mb-4 p-2 w-full">
        <%= f.label :email, class: "font-bold inline-block mb-2" %>
        <%= f.email_field :email, autocomplete: "email", class: "w-full", placeholder: "Email" %>
      </div>
    </div>
    <div class="field mb-4 w-full p-2">
      <%= f.label :password, class: "font-bold inline-block mb-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full", placeholder: "Password" %>
    </div>

    <div class="field mb-4 w-full p-2">
      <%= f.label :password_confirmation, class: "font-bold inline-block mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full", placeholder: "Confirm Password" %>
    </div>
    <div class="actions m-2">
      <%= f.submit "Sign up", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>