<div class="lg:w-3/4 w-full flex flex-col justify-between m-auto gap-5">
  <div class="flex sm:justify-between justify-center gap-6 w-full xs:flex-nowrap flex-wrap">
    <a href="<%= search_path q: params[:q] %>" class="flex gap-1 items-center text-primary hover-underline w-max">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      Back to all results
    </a>
    <a href="<%= search_books_path q: params[:q] %>" class="text-primary hover-underline w-max">View book results</a>
  </div>
  <div class="flex gap-2 sm:flex-nowrap flex-wrap items-center justify-stretch">
    <h1 style="flex: 1 0 320px;" class="w-full text-center md:text-left font-bold sm:text-3xl text-2xl">Author results for:&nbsp;</h1>
    <div class="w-full flex flex-col items-center" data-controller="autocomplete">
      <form autocomplete="off" style="flex: 1 1 50%;" action="<%= search_authors_path %>" method="get" class="w-full flex flex-col items-center justify-stretch">
        <input data-action="input->autocomplete#update" data-autocomplete-target="input" type="search" class="input w-full rounded focus:ring-2 ring-primary px-3 py-2" name="q" value="<%= params[:q] %>" placeholder="Search..." />
      </form>
      <div id="search-autocomplete" class="w-full"></div>
      <form class="hidden" method="post" data-autocomplete-target="form" action="<%= search_autocomplete_path %>">
        <input type="hidden" name="id" value="search-autocomplete" />
        <input type="hidden" name="q" data-autocomplete-target="hidden" />
      </form>
    </div>
  </div>
  <%= turbo_frame_tag "search_#{params[:q]}_authors" do %>
    <div id="results" class="flex flex-col items-center gap-5">
      <% if @results.empty? %>
        <p class="text-lg self-start ml-1">No authors found.</p>
      <% else %>
        <%= render @results %>
        <%= will_paginate @results %>
      <% end %>
      <p class="text-md self-center text-center"><a class="text-primary hover-underline" href="<%= new_book_path %>">Add a book to Bookwyrm.</a>&nbsp;When you add a book, the author gets added automatically.</p>
    </div>
  <% end %>
</div>