<div class="lg:w-3/4 w-full flex flex-col justify-between m-auto gap-5">
  <div class="flex sm:justify-between justify-center gap-6 w-full xs:flex-nowrap flex-wrap">
    <a href="<%= search_path q: params[:q] %>" class="flex gap-1 items-center text-primary hover-underline w-max">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      Back to all results
    </a>
    <a href="<%= search_authors_path q: params[:q] %>" class="text-primary hover-underline w-max">View author results</a>
  </div>
  <div class="md:text-4xl sm:text-3xl text-2xl text-center md:text-left font-bold flex gap-2 sm:flex-nowrap flex-wrap items-center justify-center">
    <h1 style="flex: 1 0 320px;" class="w-full">Book results for:&nbsp;</h1>
    <form style="flex: 1 1 50%;" action="<%= search_books_path %>" method="get" class="w-full flex flex-col items-center justify-stretch">
      <input type="search" class="input w-full rounded focus:ring-2 ring-primary py-2 px-3" name="q" value="<%= params[:q] %>" placeholder="Search..." />
    </form>
  </div>
  <%= turbo_frame_tag "search_#{params[:q]}_books" do %>
    <div id="results" class="flex flex-col items-center gap-5">
      <% if @results.empty? %>
        <p class="text-lg self-start ml-1">No books found.</p>
      <% else %>
        <%= render @results %>
        <%= will_paginate @results %>
      <% end %>
      <a class="text-primary self-center text-center hover-underline text-md" href="<%= new_book_path %>">Add a book to Bookwyrm</a>
    </div>
  <% end %>
</div>