<div class="lg:w-3/4 w-full flex flex-col justify-between m-auto gap-5">
  <div class="flex gap-2 sm:flex-nowrap flex-wrap items-center justify-stretch">
    <h1 style="flex: 1 0 320px;" class="w-full text-center md:text-left font-bold sm:text-3xl text-2xl">Search results for:&nbsp;</h1>
    <div class="w-full flex flex-col items-center" data-controller="autocomplete">
      <form autocomplete="off" style="flex: 1 1 50%;" action="<%= search_path %>" method="get" class="w-full flex flex-col items-center justify-stretch">
        <input data-action="input->autocomplete#update" data-autocomplete-target="input" type="search" class="input w-full rounded focus:ring-2 ring-primary px-3 py-2" name="q" value="<%= params[:q] %>" placeholder="Search..." />
      </form>
      <div id="search-autocomplete" class="w-full"></div>
      <form class="hidden" method="post" data-autocomplete-target="form" action="<%= search_autocomplete_path %>">
        <input type="hidden" name="id" value="search-autocomplete" />
        <input type="hidden" name="q" data-autocomplete-target="hidden" />
      </form>
    </div>
  </div>
  <div class="flex flex-col gap-5 justify-between">
    <div id="books" class="flex flex-col items-center gap-5">
      <div class="flex sm:justify-between justify-center gap-4 items-center w-full flex-wrap sm:flex-nowrap">
        <h2 class="md:text-2xl text-xl font-bold">Books</h2>
        <a href="<%= search_books_path(q: params[:q]) %>" class="hover-underline text-primary">View all book results.</a>
      </div>
      <% if @books_results.empty? %>
        <p class="text-lg self-start ml-1">No books found.</p>
      <% else %>
        <% @books_results.each do |res| %>
          <%= render res, link: true %>
        <% end %>
      <% end %>
      <a class="text-primary self-center text-center hover-underline text-md" href="<%= new_book_path %>">Add a book to Bookwyrm</a>
    </div>
    <div id="authors" class="flex flex-col items-center gap-5">
      <div class="flex sm:justify-between justify-center gap-4 items-center w-full flex-wrap sm:flex-nowrap">
        <h2 class="md:text-2xl text-xl font-bold">Authors</h2>
        <a href="<%= search_authors_path(q: params[:q]) %>" class="hover-underline text-primary">View all author results.</a>
      </div>
      <% if @authors_results.empty? %>
        <p class="text-lg self-start ml-1">No authors found.</p>
      <% else %>
        <% @authors_results.each do |res| %>
          <%= render res, link: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>