<% provide :title, @author.name %>

<div class="flex flex-col">
  <div class="flex md:justify-start justify-center w-full flex-wrap md:flex-nowrap flex-1">
    <img style="max-height: 50vh;" src="https://covers.openlibrary.org/a/id/<%= @author.photos[0] %>.jpg" alt="<%= @author.name %> image" class="rounded-md mx-auto w-auto" />
    <div class="flex flex-col justify-between md:ml-8 w-full">
      <div class="flex flex-col w-full">
        <div class="flex flex-row flex-wrap">
          <h1 style="flex: 1 1 90%;" class="text-5xl font-bold text-center md:text-left align"><%= @author.name %></h1>
          <div style="flex: 1 1 10%" class="flex md:flex-col flex-row justify-center gap-4 w-full md:justify-around">
            <a target="_blank" rel="noopener noreferrer" title="View &#34;<%= @author.name %>&#34; on OpenLibrary" href="https://openlibrary.org/authors/<%= @author.olid %>">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
              </svg>
            </a>
            <% @author.links.each do |link| %>
              <% if link %>
                <a target="_blank" rel="noopener noreferrer" title="<%= link[:name] ? link[:name] : link[:title] %>" href="<%= link[:url] %>">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                  </svg>
                </a>
              <% end %>
            <% end %>
          </div>
        </div>
        <div style="overflow-wrap: break-word;" class="mt-4 text-center md:text-left w-full">
          <%= raw markdown h @author.bio.gsub(/((\(From ((https?:\/\/(www\.)?[-a-zA-Z0-9@:%._+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9%_+.~#?&\/\/=]*))|Goodreads)\):?\s*)|- \[source\](.|\s)*)/, '') %>
        </div>
      </div>
      <p class="text-sm text-gray-300">
        Born <%= @author.birth_date.to_datetime.strftime("%B %-d, %Y") %>
      </p>
    </div>
  </div>
  <div class="-mx-4 mt-8 p-2 flex flex-col justify-between items-center gap-5">
    <div class="flex items-center w-full justify-center px-4 sm:justify-between gap-6 flex-wrap sm:flex-nowrap">
      <h2 class="text-3xl">Popular books</h2>
      <a href="#" class="text-primary hover-underline">View all</a>
    </div>
    <% if @author.books.empty? %>
      <p class="text-md text-center">No books available.</p>
    <% else %>
      <%= render @author.books.sort_by(&:wilson_score).reverse[0..2], author: false, link: true %>
    <% end %>
  </div>
</div>