<% if signed_in? %>
  <div class="flex flex-col items-center justify-between gap-5">
    <h1 class="md:text-5xl text-3xl text-center md:text-left font-light w-full">Hello, &nbsp;<%= current_user.first_name %></h1>
    <div class="flex flex-col justify-between gap-7">
      <div class="flex flex-col gap-4">
        <div class="flex sm:justify-between justify-center gap-4 flex-wrap sm:flex-nowrap items-center">
          <h2 class="md:text-3xl text-2xl font-bold text-center md:text-left w-max">Popular on Bookwyrm</h2>
          <a href="<%= books_path %>" class="text-primary hover-underline">View all</a>
        </div>
        <div class="flex flex-col gap-5 self-center p-4 justify-start items-start w-full">
          <% if @books.empty? %>
            <p class="font-semibold text-xl text-center w-full md:text-left mt-3 mb-5">No items found.</p>
          <% else %>
            <%= render @books, link: true %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex sm:justify-between justify-center gap-4 flex-wrap sm:flex-nowrap items-center">
          <h2 class="md:text-3xl text-2xl font-bold text-center md:text-left w-max">For you</h2>
          <a class="hover-underline text-primary" href="<%= books_recommended_path %>">View all</a>
        </div>
        <div class="flex flex-col gap-5 self-center p-4 justify-start items-start w-full">
          <% if current_user.recommended_books.limit(2).empty? %>
            <p class="font-semibold text-xl text-center w-full md:text-left mt-3 mb-5">No items found.</p>
          <% else %>
            <%= render current_user.recommended_books.limit(2), link: true %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <h2 class="md:text-3xl text-2xl font-bold text-center md:text-left w-full">Your recent reviews</h2>
        <div class="flex flex-col gap-5 self-center p-4 justify-start items-start w-full">
          <% if current_user.reviews.order('created_at DESC').limit(2).empty? %>
            <p class="font-semibold text-xl text-center w-full md:text-left mt-3 mb-5">No recent reviews.</p>
          <% else %>
            <% current_user.reviews.order('created_at DESC').limit(2).each do |review| %>
              <%= render review.book, link: true %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex justify-around w-full mt-10 sm:flex-nowrap flex-wrap gap-4">
        <a class="text-primary self-center text-center hover-underline text-lg" href="<%= books_recommended_path %>">Find a book to read.</a>
        <a class="text-primary self-center text-center hover-underline text-lg" href="<%= new_book_path %>">Add a book to Bookwyrm.</a>
      </div>
    </div>
  </div>
<% else %>
  <div class="flex flex-col mt-5 justify-between gap-5 h-full w-full">
    <div class="flex justify-between gap-4 items-center h-full w-full md:flex-nowrap flex-wrap">
      <div class="flex flex-col justify-center gap-4 w-full mb-10 h-full md:pr-20">
        <h1 class="md:text-7xl sm:text-5xl text-4xl font-montserrat">Bookwyrm</h1>
        <h2 class="md:text-5xl sm:text-3xl text-2xl font-inika">The place for all books</h2>
        <%= link_to 'Sign up', signup_path, class: 'btn mt-10 text-center btn-primary w-full' %>
      </div>
      <div data-controller="autocomplete" class="w-full h-full">
        <form autocomplete="off" class="w-full flex flex-col h-full justify-center gap-6" action="<%= search_path %>" method="get">
          <input data-action="input->autocomplete#update" data-autocomplete-target="input" type="text" name="q" placeholder="Search BookWyrm"/>
          <div id="home-autocomplete" class="w-full"></div>
          <input type="submit" value="Search" class="btn btn-primary btn-outline px-3 p-2"/>
        </form>
        <form class="hidden" method="post" data-autocomplete-target="form" action="<%= search_autocomplete_path %>">
          <input type="hidden" name="id" value="home-autocomplete" />
          <input type="hidden" name="q" data-autocomplete-target="hidden" />
        </form>
      </div>
    </div>
    <div class="lg:w-3/4 m-auto">
      <h2 class="md:text-3xl sm:text-2xl xs:text-xl font-bold mb-4">Popular on Bookwyrm</h2>
      <ul class="flex flex-col justify-start items-center gap-5">
        <%= render @books, link: true %>
      </ul>
    </div>
  </div>
<% end %>
