<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages', resource: resource %>

  <h1 class="text-4xl text-center m-4">Log in</h1>

  <div class="w-1/2 m-auto">
    <div class="field mb-4 p-2 w-full">
      <%= f.label :login, class: 'font-bold inline-block mb-2' %><br />
      <%= f.text_field :login, autofocus: true, class: 'w-full' %>
    </div>

    <div class="field mb-4 p-2 w-full">
      <%= f.label :password, class: 'font-bold inline-block mb-2' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'w-full' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-4 p-2 w-full">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary w-full' %>
    </div>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
