<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= full_title(yield :title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Montserrat+Alternates:wght@200;300;700&family=Nobile:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/message' %>
    <main style="min-height: 80vh;" class="md:px-16 px-4 mb-16 <%= 'md:ml-16' if signed_in? %>">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
